---
- name: Configure HashiCorp Job Template that executes a playbook on the demo inventory
  hosts: localhost
  gather_facts: false
  connection: local

  vars:
    organization: Default

    vault_approle_credential_name: "vault-approle-ssh"
    vault_signed_ssh_machine_credential_name: "vault-signed-ssh-credential"
    controller_project_name: "demo-project"
    job_template_name: "demo-job-template"
    inventory_name: "demo-inventory"

    controller_host: "{{ lookup('env', 'CONTROLLER_HOST') }}"
    controller_username: "{{ lookup('env', 'CONTROLLER_USERNAME') }}"
    controller_password: "{{ lookup('env', 'CONTROLLER_PASSWORD') }}"
    controller_validate_certs: false
  tasks:
    - name: Configure AppRole Credential for Vault SSH
      ansible.controller.credential:
        name: "{{ vault_approle_credential_name }}"
        description: "AppRole credentials for Vault SSH"
        organization: "{{ organization }}"
        credential_type: "HashiCorp Vault Signed SSH"
        inputs:
          url: "{{ vault_address }}"
          role_id: "{{ approle_role_id }}"
          secret_id: "{{ approle_secret_id }}"
          default_auth_path: "{{ approle_path }}"
          namespace: "{{ vault_namespace }}"
        state: present
        controller_host: "{{ controller_host }}"
        controller_username: "{{ controller_username }}"
        controller_password: "{{ controller_password }}"
        validate_certs: "{{ controller_validate_certs }}"
      register: vault_approle_ssh_credentials

    - name: Create ssh-key directory
      ansible.builtin.file:
        path: "./ssh-key"
        state: directory
        mode: '0700'

    - name: Generate SSH key pair
      community.crypto.openssh_keypair:
        path: "./ssh-key/ansible_ssh_key"
        type: rsa
        size: 4096
        comment: "Generated by Ansible for Vault SSH"
        state: present
        regenerate: never
      register: ssh_keypair

    - name: Read SSH private key file
      ansible.builtin.set_fact:
        vault_ssh_private_key: "{{ lookup('file', './ssh-key/ansible_ssh_key') }}"

    - name: Read SSH public key file
      ansible.builtin.set_fact:
        vault_ssh_public_key: "{{ lookup('file', './ssh-key/ansible_ssh_key.pub') }}"

    - name: Vault Signed SSH Machine Credential
      ansible.controller.credential:
        name: "{{ vault_signed_ssh_machine_credential_name }}"
        description: "Hashicorp Vault SSH CA signs static SSH keys to produce dynamic machine credentials"
        organization: "{{ organization }}"
        credential_type: "Machine"
        inputs:
          username: "{{ ssh_username }}"
          ssh_key_data: "{{ vault_ssh_private_key }}"
        state: present
        controller_host: "{{ controller_host }}"
        controller_username: "{{ controller_username }}"
        controller_password: "{{ controller_password }}"
        validate_certs: "{{ controller_validate_certs }}"
      register: vault_ssh_machine_credentials

    - name: Vault Signed SSH Credential Source
      ansible.controller.credential_input_source:
        input_field_name: "ssh_public_key_data"
        target_credential: "{{ vault_ssh_machine_credentials.id }}"
        source_credential: "{{ vault_approle_ssh_credentials.id }}"
        metadata:
          public_key: "{{ vault_ssh_public_key }}"
          auth_path: "{{ approle_path }}"
          role: "{{ ssh_secret_backend_role_name }}"
          secret_path: "{{ ssh_secrets_engine_path }}"
        state: present
        controller_host: "{{ controller_host }}"
        controller_username: "{{ controller_username }}"
        controller_password: "{{ controller_password }}"
        validate_certs: "{{ controller_validate_certs }}"
      register: vault_ssh_credential_source

    - name: Create basic demo ref GitHub repo playbook
      ansible.controller.project:
        name: "{{ controller_project_name }}"
        organization: "{{ organization }}"
        scm_type: "git"
        scm_url: "{{ scm_url }}"
        scm_branch: "main"
        scm_update_on_launch: true
        state: present
        controller_host: "{{ controller_host }}"
        controller_username: "{{ controller_username }}"
        controller_password: "{{ controller_password }}"
        validate_certs: "{{ controller_validate_certs }}"
        wait: true

    - name: Create Inventory
      ansible.controller.inventory:
        name: "{{ inventory_name }}"
        organization: "{{ organization }}"
        state: present
        controller_host: "{{ controller_host }}"
        controller_username: "{{ controller_username }}"
        controller_password: "{{ controller_password }}"
        validate_certs: "{{ controller_validate_certs }}"

    - name: Create Job Template
      ansible.controller.job_template:
        name: "{{ job_template_name }}"
        description: "Job template that runs a playbook against the specified inventory"
        organization: "{{ organization }}"
        project: "{{ controller_project_name }}"
        playbook: "{{ playbook_name }}"
        inventory: "{{ inventory_name }}"
        job_type: "run"
        credentials:
          - "{{ vault_ssh_machine_credentials.id }}"
        survey_enabled: false
        ask_variables_on_launch: true
        state: present
        controller_host: "{{ controller_host }}"
        controller_username: "{{ controller_username }}"
        controller_password: "{{ controller_password }}"
        validate_certs: "{{ controller_validate_certs }}"
