tf_token                   = "replace"
tf_organization_name       = "glenn-hcp-org"
github_token               = "replace"
aap_host                   = "https://aap.example.domain"
aap_username               = "admin"
aap_password               = "replace"
region                     = "us-east-1"
allowed_ip                 = "0.0.0.0/0"
aap_inventory_name         = "demo-inventory"
var_from_tf_aap_job_launch = "hello from Terraform"